.tall-grass {
  padding: 40px 0px 20px 0px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 40px;
  column-gap: 20px;
}

.tall-grass .grass {
  position: relative;
}

.tall-grass .grass .pokemon {
  top: -50px;
  left: -15px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  will-change: transform, opacity;
  opacity: 0;
  transform: translateY(20px);
}

.tall-grass .grass .pokemon.visible {
  opacity: 1;
  transform: translateY(0px);
}

.tall-grass .grass:hover .pokemon.visible {
  z-index: 3;
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  10% {
    transform: translateX(-1.5px) rotate(-1.5deg);
  }
  40% {
    transform: translateX(1.5px) rotate(1.5deg);
  }
  50% {
    transform: translateX(-1.5px) rotate(-1.5deg);
  }
  80% {
    transform: translateX(1.5px) rotate(1.5deg);
  }
  90% {
    transform: translateX(-1.5px) rotate(-1.5deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

.tall-grass .grass .tall-grass-sprite {
  width: 60px;
  position: relative;
  z-index: 2;
}
