.tall-grass {
  padding: 80px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 40px;
  column-gap: 20px;
}

.tall-grass .grass {
  position: relative;
}

.tall-grass .grass .pokemon {
  top: -50px;
  left: -15px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  will-change: transform, opacity;
  opacity: 0;
  transform: translateY(20px);
}

.tall-grass .grass .pokemon.visible {
  opacity: 1;
  transform: translateY(0px);
}

.tall-grass .grass:hover .pokemon {
  transform: translateY(-10px);
}

.tall-grass .grass .tall-grass-sprite {
  width: 60px;
  position: relative;
  z-index: 2;
}
