#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.app p {
  margin: 0;
}

.app .generation-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.app .score {
  font-size: 2rem;
  font-weight: 600;
}
