#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: relative;
}

.app p {
  margin: 0;
}

.app .generation-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.app .generation-dropdown select {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  font-family: "Press Start 2P", system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 8px 4px;
  border: none;
  border-radius: 8px;
}

.app .score {
  font-size: 1.8rem;
  font-weight: 600;
}

.app .gameover-dialog {
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  background-color: var(--dialog-background-colour);
  color: var(--dialog-text-colour);
  border: var(--dialog-border);
  border-width: var(--dialog-border-width);
  border-radius: 12px;
}

.app .gameover-dialog .dialog-arrow {
  width: 12px;
  margin-left: 4px;
  margin-bottom: 4px;
  animation: bob-up-down 0.25s steps(2, start) infinite alternate;
}

@keyframes bob-up-down {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-2px);
  }
}

.app .gameover-dialog button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app .gameover-dialog button .option-arrow {
  color: var(--dialog-text-colour);
  margin-right: 8px;
}

.app .gameover-dialog button:hover .option-arrow {
  transform: translateY(-2px);
}
