:root {
  --dialog-background-colour: rgb(249, 249, 249);
  --border-color: #00f898;
  --dialog-border: solid var(--border-color);
  --dialog-border-width: 4px 10px 4px 10px;
  --main-text-colour: #4a4c49;
  --dialog-text-colour: #4a4c49;

  font-family: "Press Start 2P", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: var(--main-text-colour);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("./assets/grass-background.webp");
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: none;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  color: var(--main-text-colour);
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
